.bodyloader {
  background-color: #2B2828;
  background-image: url(./images/fon.jpg);
  background-size: cover;
  /* свойство устанавливает, будет ли повторяться изображение и каким образом */
  background-repeat: no-repeat;
  /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.totalAmount{
  font-size: 35px;
  @media (max-width: 770px) {
    
    font-size: 15px;
  }
}



.yandex{
  border-radius: 5px;
  width: 60%;
  height: 40%;
  background-color: #2B2828;
  @media (max-width: 770px) {
    width: 90%;
    font-size: 20px;
  }
 }


body {
  overflow: hidden;
}

.mainbackground {
  background-image: url(./images/fon2.jpg);
  height: 100vh;
  background-size: cover;
}

.basketDisplay {
  width: 100%;
  height: 95vh;
  background-image: url(./images/fon2.jpg);
  position: absolute;
  font-weight: bold;
  color:#2B2828;
  left: 0px;
  top: 0px;
  z-index: 1500;
}

.emptyBasket {
  width: 100px;
  height: 50px;
  background-color: white;
  position: relative;
  right: 100px;
}

.baskethide {
  display: none;
}


.cursor {
  cursor: pointer
}

/* .cursor:hover {
color: #282c3422;
} */


.footer {
  background-color: #2B2828;
  height: 50px;
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  z-index: 500;
  
}

.hide {
  @media (max-width: 770px) {
    display: none;
  }
}


.header {
  background-color: #282c34;
  width: 100%;
  height: 120px;
  position: sticky;
  top: 0;
  color: aliceblue;
  font-size: 30px;
  z-index: 500;
}

.mediabtn {
  @media (max-width: 1000px) {
    display: block;
    float: left
  }
}

.sizecarusel {
  width: 1500px;
}

.forspan {
  @media (max-width: 1024px) {
 font-size: 20px;
  }

}



.cardstyle {
  width: 300px;
  height: 300px;
}

.cardstylebasket {
  width: 180px;
  height: 180px;

}

.imagediv {
  width: 300px;
  height: 330px;

}

.loader {
  display: inline-block;
  animation: rotation 2.3s linear infinite;
  margin-left: 45%;
  margin-top: 20%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.transformtext {
  font-size: 22px;
  line-height: 25px;
  border-radius:9px ;

  @media (max-width: 820px) {
    font-size: 15px;
    line-height: 10px;
  }

}

.transformtext {
  font-size: 18px;
  line-height: 25px;
  width: 170px;
  background-color: #282c34;
  height: 60px;
  line-height: 20px;
  font-family: sans-serif;
  color: white;
  border: 4px solid white;
  letter-spacing: 3px;
  text-align: center;
  position: relative;

  @media (max-width: 1200px) {
    width: 150px;
    background-color: #282c34;
    height: 60px;
    line-height: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    border: 4px solid white;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
  }


}



.transformtext span {
  position: relative;
  z-index: 2;
}

.transformtext:after {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 1.2s;
}

.digital {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 25px;
  top: 65px;
  font-size: 22px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}


.transformtext:hover {
  letter-spacing: 5px;
  border-radius: 5px;
  color: #282c34;
  transform: scalex(115%);
  transition: all 1.2s;
  border: 4px solid #282c34;
}

.transformtext:hover:after {
  width: 100%;
}

.sliderbox {
  width: 120vh;
  height: 60vh;
}

.s12 {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-size: 24px;
  font-family: 'Fredoka One', cursive;
  transition: .3s ease-in-out;
  background-image: linear-gradient(#282c34 50%, #282c34 50%), linear-gradient(silver 50%, silver 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: 0 .063em, 100% .063em;
  color: #282c34;
  padding-bottom: .188em;
  transition: background-size .5s, transform .8s;
}

.s12:hover {
  background-size: 100% .063em, 100% .063em;
  background-position: left bottom;
  cursor: pointer;
  transform: scale(1.2);
}

.scroll {
  height: 75vh;
  background-color: #282c344b;
  overflow-y: scroll;

  @media (max-width: 820px) {
    height: 60vh;
  }
}

.scrollbasket {
  overflow-y: scroll;
}


.boxbutton {
  width: 200px;
  height: 50px;
  transform: scale(0.5);
}


.sas {
  position: relative;
  bottom: 300px;
  width: 300px;
  height: 300px;
  opacity: 0;
  margin-bottom: -280px;
}


.sas p {
  transform: scale(0.2);
}

.carts:hover .sas {
  opacity: 1;
  transform: scale(1);
  transition: all 0.9s ease-out;
}

.carts:hover p {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.carts:hover .boxbutton {

  transform: scale(1);
  transition: all 0.3s ease-out;
}

.scrollbasket{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.scrollbasket::-webkit-scrollbar {
  width: 0;
  height: 0;
}



 .scroll::-webkit-scrollbar {
  width: 10px;
  /* Ширина всего элемента навигации */
  border-radius: 20px;
  /* Округление бегунка */
}

 .scroll::-webkit-scrollbar-track {
  background: #282c3454;
  /* Цвет дорожки */
}

 .scroll::-webkit-scrollbar-thumb {
  background-color: #050c26;
  /* Цвет бегунка */
  border-radius: 10px;
  /* Округление бегунка */
  border: 3px solid #050c26;
  /* Оформление границ бегунка */
}